<ion-view class="fondo3" view-title="Metodos antoconceptivos">
  <ion-content class="padding">
   <div class="row">
   	<h4> Metodos Anticonceptivos </h4>
   	<h5> Métodos hormonales

Métodos combinados que contienen estrógeno y progestágeno y que se pueden administrar como píldoras, inyecciones, anillo vaginal o parche transdérmico.
Métodos que contienen solo progestágeno y que se pueden administrar como píldoras, inyecciones, implantes, anillo vaginal o dispositivo intrauterino.
Anticoncepción hormonal de emergencia que puede consistir en píldoras de levonorgestrel solo o en píldoras combinadas (Método de Yuzpe).</h5>
<h6>Métodos no hormonales reversibles:

Dispositivos intrauterinos.
Anticonceptivos de barrera masculinos (condón) y femeninos (condón, diafragma; espermicidas).
Método de la amenorrea de lactancia.
Métodos de abstinencia periódica (moco cervical (Billings); calendario; temperatura basal; sintotérmico).</h6>


		
	</div>
</div>

  <ion-content>
  
</ion-view>
